<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="top-box" echarts [options]="options3d"></div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="top-box" id="baiduMap"></div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="top-box" echarts [options]="crosswiseBar"></div>
      </div>
    </div>
    <div style="height: 1vh"></div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bottom-box" echarts [options]="optionsCarModel"></div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bottom-box">
          <div class="event-table">
            <div class="table-title text-center">
              <span>贵阳高速服务区事件监控</span>
            </div>
            <div class="table-responsive">
              <table class="table" cellspacing="5px">
                <thead class="table-header">
                <tr>
                  <td>标记</td>
                  <td>时间</td>
                  <td>事件类型</td>
                  <td>事件描述</td>
                  <td>最新动态</td>
                </tr>
                </thead>
                <tbody class="table-body">
                <tr class="table-tr" style="color: #BB32F4">
                  <td><span style="background: #BB32F4;"></span></td>
                  <td>1分钟之前</td>
                  <td>工程类</td>
                  <td>一号水库水位低</td>
                  <td class="hot">03<span>HOT</span></td>
                </tr>
                <tr class="table-tr" style="color: #F432AD">
                  <td><span style="background: #F432AD;"></span></td>
                  <td>3分钟之前</td>
                  <td>经营类</td>
                  <td>妹妹小吃账户异常</td>
                  <td class="hot">04<span>HOT</span></td>
                </tr>
                <tr class="table-tr" style="color: #E57D0D">
                  <td><span style="background: #E57D0D;"></span></td>
                  <td>5分钟之前</td>
                  <td>卫生类</td>
                  <td>乌江服务区卫生差</td>
                  <td class="hot">07<span>HOT</span></td>
                </tr>
                <tr class="table-tr" style="color: #1ED1D8">
                  <td><span style="background: #1ED1D8;"></span></td>
                  <td>15分钟之前</td>
                  <td>监控类</td>
                  <td>一号门监控设备出问题</td>
                  <td class="hot">02<span>HOT</span></td>
                </tr>
                <tr class="table-tr" style="color: #3BF49F">
                  <td><span style="background: #3BF49F;"></span></td>
                  <td>30分钟之前</td>
                  <td>系统故障</td>
                  <td>服务器异常</td>
                  <td class="hot">10<span>HOT</span></td>
                </tr>
                <tr class="table-tr" style="color: #1ED1D8">
                  <td><span style="background: #1ED1D8;"></span></td>
                  <td>40分钟之前</td>
                  <td>其他</td>
                  <td>出口位置轿车刮伤</td>
                  <td class="hot">04<span>HOT</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bottom-box">
          <div class="number">
            <div class="vehicle">
              <p class="text-center">贵阳高速服务区今日车流量</p>
              <div class="vehicle-amount">
                <h3 class="text-center">
                  <span>0</span>
                  <span>0</span>
                  <span>0</span>
                  <span style="margin-right: 10px" *ngFor="let i of vehicleAmount">{{i}}</span>
                  <small style="font-size: 14px;color: white;">辆</small>
                </h3>
                <p class="text-center">
                  <span style="margin-right: 10px">前日时间同比</span>
                  <i class="fa fa-long-arrow-up"></i>
                  <span class="">3.2%</span>
                </p>
              </div>
            </div>
            <div class="income">
              <p class="text-center">贵阳高速服务区今日实时收入</p>
              <div class="income-amount">
                <h3 class="text-center">
                  <span>0</span>
                  <span>0</span>
                  <span>0</span>
                  <span style="margin-right: 10px" *ngFor="let i of incomeAmount">{{i}}</span>
                  <small style="font-size: 14px;color: white;">元</small>
                </h3>
                <p class="text-center">
                  <span style="margin-right: 10px">前日时间同比</span>
                  <i class="fa fa-long-arrow-up" style="color: #03D095"></i>
                  <span class="">15%</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bottom-box" echarts [options]="optionsIncomeModel"></div>
      </div>
    </div>
  </div>
</div>
