/**
 * Created by wangwenjun on 2018/2/22.
 * project name ...
 */
.main{
  position: relative;
}
/****************************左边****************************/
/*3D柱状图*/
.left .accumulation{
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
.left .accumulation-title{
  height: 4vh;
  font-size: 1.25rem;
  color: #5595D5;
  font-weight: 500;
}
.left .accumulation-3Dbar{
  height: 43vh;
}

/*日车流量实时统计*/
.left .vehicle{
  height: 12.5vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
.left .vehicle-title{
  height: 4vh;
  line-height: 4vh;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5595D5;
}
.left .vehicle-amount>p>span{
  display: inline-block;
  width: 1.6vw;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.125rem;
  text-align: center;
  margin-right: 0.3vw;
  background: #5095E0;
  /*background: -moz-linear-gradient(top, #01071D 0%, #0A4D84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#01071D), color-stop(100%,#0A4D84));
  background: -webkit-linear-gradient(top, #01071D 50%,#0A4D84 100%);
  background: -o-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: -ms-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: linear-gradient(to bottom, #01071D 0%,#0A4D84 100%);*/
}
.left .vehicle-amount>p>small{
  font-size: 1rem;
  color: white;
}

/*车型日分布占比*/
.left .vehicle-pie{
  height: 20.5vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
.left .vehicle-pie-title{
  height: 4vh;
  line-height: 4vh;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5595D5;
}
.left .vehicle-pie-chart{
  height: 16.5vh;
}

/*移动端收入样式*/
.left .income.mobile{
  display: none;
}


/****************************中部****************************/
.center .map {
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2);
  margin-bottom: 1vh;
}
/*地图区域选择*/
.center .map-tab{
  height: 5vh;
  border:1px solid #3B425C;
  line-height: 5vh;
  padding-left: 5px;
  font-weight: bolder;
  position: relative;
}
.center .map-tab .location{
  display: inline-block;
}
.center .map-tab .location:hover{
  cursor: pointer;
}
.center .map-tab .select{
  display: inline-block;
  margin-left: 15px;
  color: white;
}
.center .map-tab .select:hover{
  cursor: pointer;
}
.center .select-list-province{
  background: rgba(18,51,76,0.8);
  padding-left: 0;
  /*padding-right: 40px;*/
  color: #87FFFF;
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 1;
}
.center .select-list-city{
  background: rgba(18,51,76,0.8);
  padding-left: 0;
  border-left: 1px solid rgba(135,255,255,0.6);
  /*padding-right: 40px;*/
  color: #87FFFF;
  position: absolute;
  top: 103px;
  left: 121px;
  z-index: 1;
}
.center .select-list-province>li,.center.select-list-city>li{
  list-style: none;
  padding: 0 40px;
  text-align: center;
}
.center .select-list-province>li:hover,.center.select-list-city>li:hover{
  cursor: pointer;
  background: rgba(244,50,173,0.5);
}

/*地图区域选择*/
.center .map-bmap{
  height: 50vh;
}

/*事件监控列表*/
.center.event-table{
  padding-top: 1px;
  min-height: 32vh;
  border:1px solid #3B425C;
  overflow: hidden;
  margin-left: -8px;
  margin-right: -8px;
  font-size: 12px;
}
.center.event-table .event-table-events{
  padding-right: 0;
  padding-left: 0;
}
.center.event-table .event-table-office{
  /* padding-right: 0;
   padding-left: 0;*/
}
.center.event-table .event-table-person{
  padding-right: 0;
  padding-left: 0;
}
.center.event-table tr{
  cursor: pointer;

}
.center.event-table tr td{
  border: none;
}
.center.event-table tr:hover{
  cursor: pointer;
}
.center.table-title{
  padding: 5px 0 10px 5px;
  font-weight: bolder;
  font-size: 14px;
}
.center.table-header{
  height: 5vh;
  /*border: 1px solid #0593B5;*/
  background: rgba(7,149,188,0.2);
  color: #00ECF1;
}

.center.table-header .hot{
  position: relative;
}
.center.table-header .hot span::before{
  content: '';
  position: absolute;
  top: 12px;
  left: 35px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  display: inline-block;
}

.center.table-body{
  margin-top: 5px;
}
.center.table-body .table-tr{
  border-bottom: 1px solid #0593B5;
  position: relative;
  color: #87FFFF;
  border-collapse:separate;
  border-spacing:10px;
}
.center.table-body .table-tr:hover{
  background:rgba(255,255,255,0.3);
}
.center.table-body .table-tr span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.center.table-body .table-tr>.hot{
  position: relative;
}
.center.table-body .table-tr>.hot>span{
  position: absolute;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 12px;
  top: 7px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: red;
  line-height: 20px;
}
.center.table-body .table-tr>.hot>button{
  position: absolute;
  top: 7px;
  right: 5px;
}

/****************************右边****************************/
/*市级数据服务区业态前十排名柱状图*/
.right .crosswise{
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  position: relative;
}
.right .crosswise-title{
  height: 4vh;
  line-height: 4vh;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5595D5;
}
.right .crosswise-btn{
  height: 4vh;
}
.right .crosswise-btn>span{
  display: inline-block;
  height: 3vh;
  padding: 0.2vh 0.5vw;
  font-size: 0.7rem;
  line-height: 3vh;
  margin-right: 0.5vw;
  border-radius: 3px;
}
.right .crosswise-btn>span:hover{
  cursor: pointer;
}
.right .crosswise-bar{
  height: 42vh;
}
/*实时首收入统计*/
.right .income{
  height: 12.5vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
.right .income-title{
  height: 4vh;
  line-height: 4vh;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5595D5;
}
.right .income-amount>p>span{
  display: inline-block;
  width: 1.6vw;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.125rem;
  text-align: center;
  margin-right: 0.3vw;
  background: #5095E0;
  /*background: -moz-linear-gradient(top, #01071D 0%, #0A4D84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#01071D), color-stop(100%,#0A4D84));
  background: -webkit-linear-gradient(top, #01071D 50%,#0A4D84 100%);
  background: -o-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: -ms-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: linear-gradient(to bottom, #01071D 0%,#0A4D84 100%);*/
}
.right .income-amount>p>small{
  font-size: 1rem;
  color: white;
}
/*服务器收入实时统计*/
.right .income-pie{
  height: 20.5vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
.right .income-pie-title{
  height: 4vh;
  line-height: 4vh;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5595D5;
}
.right .income-pie-chart{
  height: 16.5vh;
}

/****************************弹窗部分****************************/
/*3D柱状图弹窗*/
.bg-box{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(149,161,154,0.6);
  z-index: 2;
}
.alert-3D-bar{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  background: rgba(10,10,72,0.9);
  z-index: 1;
  /*overflow: auto;*/
}
.alert-3D-bar{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  background: rgba(10,10,72,0.9);
  z-index: 1;
  /*overflow: auto;*/
}
.alert-3D-bar-header{
  height: 5vh;
  line-height: 5vh;
  background: rgba(240,43,43,0.8);
}
.alert-3D-bar-header span{
  margin-left: 10px;
  font-size: 1.8rem;
}
.alert-3D-bar-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-3D-bar-header .pull-right:hover{
  background: red;
}
.toggle-btn-area{
  position: relative;
}
.bar3D-charts>.toggle-btn-area{
  position: absolute;
  left: 35vw;
  top: 6vh;
}
.alert-3D-bar-bar{
  height: 55vh;
}
.alert-3D-bar-pie{
  height: 55vh;
}
.echart-btn{
  position: relative;
}
.echart-btn > .btn{
  position: absolute;
  top: 7px;
  left: 24px;
  z-index: 999;
}
/*收入类型监控弹窗样式、车辆类型监控弹窗样式*/
.alert-window{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  background: rgba(10,10,72,0.9);
  z-index: 1;
}
.alert-window-header{
  height: 5vh;
  line-height: 5vh;
  background: rgba(240,43,43,0.8);
}
.alert-window-header span{
  margin-left: 10px;
  font-size: 1.8rem;
}
.alert-window-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-window-header .pull-right:hover{
  background: red;
}
.alert-window-content{
  height: 55vh;
}
.alert-window-content-table{
  position: relative;
  height: 55vh;
}
.alert-window-content-table .toggle-btn{
  height: 5vh;
  line-height: 5vh;
}
.alert-window-content-table .toggle-btn>button{
  margin-right: 10px;
}
.alert-window-content-table .toggle-btn .toggle-btn-area{
  height: 5vh;
  line-height: 5vh;
  padding-right: 10px;
}
.alert-window-content-table .toggle-btn .toggle-btn-area>button{
  margin-left: 10px;
}
.alert-window-content-table .content-table{
  height: 50vh;
}
/*数据导出弹窗*/
.bg-excel{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(149,161,154,0.6);
}
.alert-window-excel{
  position: absolute;
  top: 50%;
  margin-top: -10vh;
  left: 50%;
  margin-left: -10vw;
  width: 20vw;
  height: 20vh;
  background: white;
}
.alert-window-excel-header{
  position: relative;
  height: 3vh;
  line-height: 3vh;
  background: #C42632;
  padding-left: 5px;
}
.alert-window-excel-header>.pull-right{
  height: 3vh;
  width: 3vh;
  text-align: center;
}
.alert-window-excel-header>.pull-right:hover{
  background:red;
}
.alert-window-excel-content{
  color: black;
  padding: 5px 5px;
}
.alert-window-excel-content-list {
  margin-bottom: 5px;
}
.alert-window-excel-content>input{
  color: black;
}
.alert-window-excel-footer{
  width: 100%;
  position: absolute;
  left:0;
  bottom: 5px;
}

/********************************分割线******************************

/*微调*/
.text-warning{
  margin-right: 10px;
}
/*字体图标*/
.fa-long-arrow-up{
  color: red;
}

/*百度地图*/
.anchorBL{
  display:none;
}

/********************************数据排名******************************
/*车辆数据排名*/
.content-table-car:hover{
  cursor: pointer;
}

/*收入数据排名*/
.content-table{
  height: auto;
  padding-top: 1vh;
  color: #87FFFF;
  font-size: 1.6rem;
}
.content-table table{
  padding-right: 5px;
}
.content-table-income:hover{
  cursor: pointer;
}
/**********************bootstrap覆盖***********************/
p {
  margin: 0;
}
.bottom-pagination {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
}
.list-group>a{
  color: #87FFFF;
}
.pagination > li > a {
  background-color: #86FDFE;
  margin-right: 1vw;
  font-size: 1.5rem;
  color: #333333;
  cursor: pointer;
}
.pagination > li > a:hover{
  background-color: #31B0D5;
  border: 1px solid #31B0D5;
}
.pagination > li > a > input{
  width: 5vw;
}
/***********************媒体查询***********************/
@media (max-width: 993px) {
  .main .income.mobile{
    display: block;
  }
  .main .income{
    display: none;
    margin-top: 1vh;
    min-height: 16vh;
  }
  .main .event-table{

  }
  .main .event-table .event-table-events{
    padding-right: 0;
    padding-left: 0;
  }
  .main .event-table .event-table-office{
    padding-right: 0;
    padding-left: 0;
  }
  .main .event-table .event-table-person{
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 7.5vh;
  }
  .main .accumulation3d,.main .accumulation{
    display: none;
  }
  .main .crosswise,.main .today-income{
    display: none;
  }
  .main .vehicle,.main .accumulation{
    margin-left: -15px;
    margin-right: -15px;
  }
  .main .event-table{
    min-height: 32vh;
    margin-left: -15px;
    margin-right: -15px;
  }
  .main .map{
    display: none;
    /*  margin-top: 1vh;
      margin-left: -15px;
      margin-right: -15px;*/
  }
  .main .income,.main .today-income{
    margin-left: -15px;
    margin-right: -15px;
  }
  .main .today-income{
    margin-bottom: 7vh;
    min-height: 28vh;
  }
  .main .vehicle{
    min-height: 16vh;;
  }
}
