<div class="row">
  <div class="nav" [ngStyle]="{opacity: navOpacity, height: navHeight}">
    <ul class="list-group">
      <li class="list-group-item" (click)="wholeClick()">
        <i class="fa fa-area-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="全国业态大数据"></i>
      </li>
      <li class="list-group-item" (click)="financeClick()">
        <i class="fa fa-bar-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="省级业态大数据"></i>
      </li>
      <li class="list-group-item" (click)="cityClick()">
        <i class="fa fa-line-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="市级业态大数据"></i>
      </li>
      <li class="list-group-item" (click)="serzoneClick()">
        <i class="fa fa-pie-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="服务区业态大数据"></i>
      </li>
    <!--  <li class="list-group-item" [routerLink]="['./videom']">
        <i class="fa fa-server " aria-hidden="true" data-toggle="tooltip" data-placement="right" title="视频管理"></i>
      </li>-->
      <li class="list-group-item" (click)="videowClick()">
        <i class="fa fa-video-camera" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="视频监控"></i>
      </li>
    </ul>
  </div>
</div>


