.footer {
  height: 3vh;
  /*width: calc(100% - 30px);*/
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  line-height: 3vh;
  background: #C4272C;
  /*margin: 0 15px;*/
}
footer span{

}
@media(max-width: 993px) {
  .footer span {
    font-size: 12px;
    display: block;
  }
  .footer {
    height: 6vh;
  }
}
