/**
 * Created by wangwenjun on 2018/2/22.
 * project name ...
 */

.container-fluid{
  color: white;
  background: #151A30;
  height: 100vh;
}

/*头部*/
.header{
  height: 6vh;
  border-bottom: 1px solid #ADB9D1;
  overflow: hidden;
}
.header-title{
  height: 6vh;
  line-height: 6vh;
  position: relative;
}
.header-title-h4{
  height: 6vh;
  line-height: 6vh;
  font-size: 1.8rem;
  margin-left: 36px;
}
.header-title-h4 span{
  color: #87FFFF;
}


.header-box {
  position: absolute;
  top: 4px;
  left: 0;
}
.header-box .header-box-box1{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #648ED6;
}
.header-box .header-box-box2{
  display: inline-block;
  margin-left: -7px;
  width: 0;
  height: 0;
  border-top: 16px solid #648ED6;
  border-right: 16px solid transparent;
}

.header-manner{
  font-size: 1.8rem;
  height: 6vh;
  line-height: 6vh; ;
  color:#87FFFF ;
}
.header-manner .header-clock{
  font-size: 1.6rem;
}
.header-manner i{
  margin-left: 1.6rem;
}
.header-manner i:hover{
  cursor: pointer;
}


/*主体*/
.main{
  height: 92vh;
  padding-top: 1vh;
}

/*主体左边*/
.main-left{
  padding-right: 0;
}
.main-left .accumulation3d{
  height: 55vh;
  border:1px solid #3B425C;
  margin-bottom: 1vh;
}
.main-left .accumulation{
  height: 35vh;
  border:1px solid #3B425C;
}


/*主体中部*/
.main-center .top-map{
  border:1px solid #3B425C;
  margin-bottom: 1vh;
  height: 55vh;
}

.main-center .bottom-left-echarts{
  padding-top: 1px;
  margin-bottom: 1vh;
  height: 35vh;
  border:1px solid #3B425C;
  /*margin-right: -8px;*/
  /*padding: 5px;*/
  overflow: hidden;
;
}
.main-center .bottom-left-echarts .table-title{
  padding: 5px 0 10px 5px;
}
.main-center .bottom-left-echarts .table-header{
  height: 5vh;
  /*border: 1px solid #0593B5;*/
  background: rgba(7,149,188,0.2);
  color: #00ECF1;
}
.main-center .bottom-left-echarts .table-body{
  margin-top: 5px;
}
.main-center .bottom-left-echarts .table-body .table-tr{
  border-bottom: 1px solid #0593B5;
  position: relative;
  color: #87FFFF;
  border-collapse:separate;
  border-spacing:10px;
}
.main-center .bottom-left-echarts .table-body .table-tr span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}


.main-center .bottom-right-echarts{
  margin-bottom: 1vh;
  height: 35vh;
  border:1px solid #3B425C;
  margin-left: -8px;
}


.main-center .vehicle{
  height: 17vh;
  border:1px solid #3B425C;
  padding-left: 5px;
  margin-bottom: 1vh;
}
.main-center .vehicle-amount>h3>span{
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid #7D8DA7;
  line-height: 40px;
  text-align: center;
  background: -moz-linear-gradient(top, #01071D 0%, #0A4D84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#01071D), color-stop(100%,#0A4D84));
  background: -webkit-linear-gradient(top, #01071D 50%,#0A4D84 100%);
  background: -o-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: -ms-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: linear-gradient(to bottom, #01071D 0%,#0A4D84 100%);
}
.main-center .vehicle-number{
  font-size: 12px;
}

.main-center .income{
  height: 17vh;
  border:1px solid #3B425C;
  padding-left: 5px;
}
.main-center .income .right-top-income>h3>span{
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #01D1DB;
}


/*主体右边*/
.main-right{
  padding-left: 0;
}




.right-center{
  margin-bottom: 1vh;
  height: 34vh;
  border:1px solid #3B425C;
}
.right-bottom{
  margin-bottom: 1vh;
  height: 34vh;
  border:1px solid #3B425C;
}



/*微调*/
.text-warning{
  margin-right: 10px;
}
/*字体图标*/
.fa-long-arrow-up{
  color: red;
}

/*百度地图*/
.anchorBL{
  display:none;
}

/*去掉默认样式 */
table tr td{
  border: none;
}

