<div class="container-fluid">
  <!--顶部-->
  <div class="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="line-height: 6vh">
        <div class="header-title pull-left">
          <div class="header-title-h4">
            <span>贵州高投高速交通大数据</span>
          </div>
          <div class="header-box">
            <span class="header-box-box1"></span>
            <span class="header-box-box2"></span>
          </div>
        </div>
        <div class="header-manner pull-right">
          <div class="header-clock pull-left">
            <span style="color:#87FFFF;">北京时间</span>
            <span style="color:#87FFFF;">2018年6月1号</span>
            <span style="color:#87FFFF;">周六</span>
            <span style="color:#87FFFF;">14:01</span>
          </div>
          <i class="fa fa-video-camera" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="视频监控" [routerLink]="['/video']"></i>
          <i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="个人信息"></i>
        </div>
      </div>
    </div>
  </div>
  <!--大数据可视化-->
  <div class="main">
    <div class="row">
      <!--左边-->
      <div class="col-lg-3 col-md-3 col-sm-3 main-left " >
        <div class="vehicle">
          <h5>2018-05-24 09:33:35 今日车辆流动数量</h5>
          <div class="vehicle-amount">
            <h3>
              <span>0</span>
              <span>0</span>
              <span>0</span>
              <span>0</span>
              <span>7</span>
              <span>8</span>
              <small style="font-size: 14px;color: white;">辆</small>
            </h3>
            <span style="margin-right: 10px">前日时间同比</span>
            <i class="fa fa-long-arrow-up"></i>
            <span class="text-warning">3.2%</span>
          </div>
        </div>
        <div class="accumulation" echarts [options]="optionsCar"></div>
        <div class="accumulation" echarts [options]="optionsRetention"></div>
      </div>
      <!--中间-->
      <div class="col-lg-6 col-md-6 col-sm-6 main-center">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <!--<div echarts [options]="options" [loading]="!mapLoaded" class="top-map" id="center_map"></div>-->
            <div class="top-map" id="center_map"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="bottom-left-echarts"></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="bottom-right-echarts" echarts [options]="optionsCarModel"></div>
          </div>
      </div>
      </div>
      <!--右边-->
      <div class="col-lg-3 col-md-3 col-sm-3 main-right">
        <div class="right-top">
          <h6 class="text-center" style="margin-top: 2vh">高速服务区天气监控</h6>
          <iframe width="100%" scrolling="no"
                  height="100%" frameborder="0" allowtransparency="true"
                  src="http://i.tianqi.com/index.php?c=code&id=2&color=%23FFFFFF&icon=4&num=2&site=12">

          </iframe>
        </div>
        <div class="right-center"></div>
        <div class="right-bottom"></div>
      </div>
    </div>
  </div>
</div>
