<div class="container-fluid">
  <!--顶部-->
  <div class="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="line-height: 6vh">
        <div class="header-title pull-left">
          <div class="header-title-h4">
            <span>贵州高投高速交通大数据</span>
          </div>
          <div class="header-box">
            <span class="header-box-box1"></span>
            <span class="header-box-box2"></span>
          </div>
        </div>
        <div class="header-manner pull-right">
          <div class="header-clock pull-left">
            <span style="color:#87FFFF;">北京时间</span>
            <span style="color:#87FFFF;">2018年6月1号</span>
            <span style="color:#87FFFF;">周六</span>
            <span style="color:#87FFFF;">14:01</span>
          </div>
          <i class="fa fa-server" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="视频管理" [routerLink]="['/video/videom']"></i>
          <i class="fa fa-video-camera" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="视频监控" [routerLink]="['/video']"></i>
          <i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="个人信息" [routerLink]="['/personal']"></i>
          <i class="fa fa-sign-out" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="退出系统" [routerLink]="['/login']"></i>
        </div>
      </div>
    </div>
  </div>
  <!--大数据可视化-->
  <div class="main">
    <div class="row">
      <!--左边-->
      <div class="col-lg-3 col-md-3 col-sm-3 main-left " >
        <div class="vehicle">
          <h5>2018-05-24 09:33:35 今日车辆流动数量</h5>
          <div class="vehicle-amount">
            <h3>
              <span>0</span>
              <span>0</span>
              <span>0</span>
              <span>0</span>
              <span>7</span>
              <span>8</span>
              <small style="font-size: 14px;color: white;">辆</small>
            </h3>
            <span style="margin-right: 10px">前日时间同比</span>
            <i class="fa fa-long-arrow-up"></i>
            <span class="">3.2%</span>
          </div>
        </div>
        <div class="accumulation" echarts [options]="optionsCar"></div>
        <div class="accumulation" echarts [options]="optionsRetention"></div>
      </div>
      <!--中间-->
      <div class="col-lg-6 col-md-6 col-sm-6 main-center">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div echarts [options]="optionsMap" [loading]="!mapLoaded" class="top-map" id="center_map"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="bottom-left-echarts">
              <div class="table-responsive">
                <table class="table" cellspacing="5px">
                  <thead class="table-header">
                    <tr>
                      <td>时间</td>
                      <td>车牌号</td>
                      <td>车型</td>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr class="table-tr" style="color: #BB32F4">
                      <td>1分钟之前</td>
                      <td>贵B﹒SB110</td>
                      <td>轿车</td>
                    </tr>
                    <tr></tr>
                    <tr class="table-tr" style="color: #F432AD">
                      <td>3分钟之前</td>
                      <td>贵B﹒SB111</td>
                      <td>轿车</td>
                    </tr>
                    <tr class="table-tr" style="color: #E57D0D">
                      <td>5分钟之前</td>
                      <td>贵B﹒SB112</td>
                      <td>轿车</td>
                    </tr>
                    <tr class="table-tr" style="color: #1ED1D8">
                      <td>15分钟之前</td>
                      <td>贵B﹒SB113</td>
                      <td>轿车</td>
                    </tr>
                    <tr class="table-tr" style="color: #3BF49F">
                      <td>30分钟之前</td>
                      <td>贵B﹒SB114</td>
                      <td>轿车</td>
                    </tr>
                    <tr class="table-tr" style="color: #1ED1D8">
                      <td>40分钟之前</td>
                      <td>贵B﹒SB114</td>
                      <td>轿车</td>
                    </tr>
                    <tr class="table-tr" style="color: #13BC82">
                      <td>1小时之前</td>
                      <td>贵B﹒SB114</td>
                      <td>轿车</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="bottom-right-echarts" echarts [options]="optionsCarModel"></div>
          </div>
      </div>
      </div>
      <!--右边-->
      <div class="col-lg-3 col-md-3 col-sm-3 main-right">
        <div class="right-top">
          <h5>2018-05-24 09:33:35 高速服务区实时收入</h5>
          <div class="right-top-income">
            <h3>
              <span>0</span>
              <span>0</span>
              <span>8</span>
              <span>1</span>
              <span>7</span>
              <span>8</span>
              <small style="font-size: 14px;color: white;">元</small>
            </h3>
            <span style="margin-right: 10px">前日时间同比</span>
            <i class="fa fa-long-arrow-up" style="color: #03D095"></i>
            <span class="">15%</span>
          </div>
          <!--<iframe width="100%" scrolling="no"
                  height="100%" frameborder="0" allowtransparency="true"
                  src="http://i.tianqi.com/index.php?c=code&id=2&color=%23FFFFFF&icon=4&num=2&site=12">

          </iframe>-->
        </div>
        <div class="right-center" echarts [options]="optionsMonth"></div>
        <div class="right-bottom" echarts [options]="optionsIncome"></div>
      </div>
    </div>
  </div>
</div>
