.bg-box{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(149,161,154,0);
  z-index: 2;
  color: white;
}
.alert-window{
  position: absolute;
  width: 50vw;
  height:50vh;
  left: 50%;
  margin-left: -25vw;
  top: 50%;
  margin-top: -25vh;
  background: rgba(10,10,72,0.9);
  z-index: 1;
}
.alert-window-header{
  height: 5vh;
  line-height: 5vh;
  background: rgba(240,43,43,0.8);
}
.alert-window-header span{
  margin-left: 10px;
  font-size: 1.8rem;
}
.alert-window-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-window-header .pull-right:hover{
  background: red;
}
.alert-window-content{
  height:45vh;
}
.alert-window-content h1{
  margin: 0;
}
