.main{
  position: absolute;
  width: 100%;
  min-height: 93vh;
  background: #151A30;
}
/*******************************头部*******************************/
.main-header{
  height: 5vh;
  line-height: 5vh;
  background: rgba(240,43,43,0.8);
}
.main-header span{
  font-size: 1.8rem;
  margin-left: 10px;
}
.main-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
}
.main-header .pull-right:hover{
   background: red;
}

.main-content{
  /*height: 86vh;*/
  overflow: auto;
  margin-left: -15px;
  margin-right: -15px;
}
/******************************左边*******************************/
/*3D柱状图*/
.main-content .accumulation3d{
  height: 45vh;
  border:1px solid #3B425C;
  margin-bottom: 1vh;
  margin-right: -8px;
}

/*实时车辆数据*/
.main-content .vehicle{
  height: 12.5vh;
  border:1px solid #3B425C;
  padding-left: 5px;
  margin-bottom: 1vh;
  margin-right: -8px;
}
.main-content .vehicle>span{
  font-weight: 600;
  font-size: 1.5rem;
}
.main-content .vehicle-amount>h3>span{
  display: inline-block;
  width: 30px;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
 /* background: -moz-linear-gradient(top, #01071D 0%, #0A4D84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#01071D), color-stop(100%,#0A4D84));
  background: -webkit-linear-gradient(top, #01071D 50%,#0A4D84 100%);
  background: -o-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: -ms-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: linear-gradient(to bottom, #01071D 0%,#0A4D84 100%);*/
  background: orangered;
}
.main-content .vehicle .vehicle-amount>p{
  margin-top: 1vh;
  font-size: 1.5rem;
}
.main-content .vehicle .vehicle-amount>div{
  overflow: hidden;
  padding-right: 5px;
}
.main-content .income.mobile{
  display: none;
}

/*车型分布*/
.main-content .accumulation{
  height: 24.5vh;
  border:1px solid #3B425C;
  margin-bottom: 1vh;
  margin-right: -8px;
}

/******************************中间*******************************/
/*中部服务区地图*/
.main-content .servicesMap{
  height: 51vh;
  border:1px solid #3B425C;
  margin-bottom: 1vh;
  margin-left: -8px;
  margin-right: -8px;
  color: white;
  font-size: 2rem;
}

.main-content .servicesMap .servicesMap-top{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .servicesMap .servicesMap-top .servicesMap-top-box{
  height: 10vh;
  width: 3vw;
  border:1px solid #3B425C;
  line-height: 2vh;
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-content .servicesMap .servicesMap-center{
  height: 30vh;
}
.main-content .servicesMap-center .video-top{
  padding-top: 5px;
  height: 11.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main-content .servicesMap-center .video-bottom{
  padding-top: 5px;
  height: 11.5vh;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}
.main-content .servicesMap-center .servicesMap-center-left{
  height: 3vh;
  border: 1px solid #FBC527;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #59443D;
}
.main-content .servicesMap-center .servicesMap-center-right{
  height: 3vh;
  border: 1px solid #FBC527;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #59443D;
}


.main-content .servicesMap .servicesMap-bottom{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .servicesMap .servicesMap-bottom .servicesMap-bottom-box{
  height: 10vh;
  width: 3vw;
  border:1px solid #3B425C;
  line-height: 2vh;
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*事件监控列表*/
.main-content .event-table{
  padding-top: 1px;
  min-height: 32vh;
  border:1px solid #3B425C;
  overflow: hidden;
  margin-left: -8px;
  margin-right: -8px;
  font-size: 12px;
}
.main-content .event-table .event-untreated-table{
   padding-right: 0;
   padding-left: 0;
}
.main-content  .event-table .event-processed-table{
  /*padding-right: 0;
  padding-left: 0;*/
}

.main-content  .event-table .event-else-table{
  padding-right: 0;
  padding-left: 0;
}
.main-content  .event-table .event-else-table .table-responsive{
  padding-top: 15px;
}
.event-else-table .event-toilet{
  height: 15.5vh;
}
.event-else-table .event-toilet span{
  margin-bottom: 15px;
}
.event-else-table .event-carport{
  height: 15.5vh;
}
.event-else-table .event-carport span{
  margin-bottom: 15px;
}
.main-content .event-table tr{
  cursor: pointer;

}
.main-content .event-table tr td{
  border: none;
}
.main-content .event-table tr:hover{
  cursor: pointer;
}
.main-content .table-title{
  padding: 5px 0 10px 5px;
  font-weight: bolder;
  font-size: 14px;
}
.main-content .table-header{
  height: 5vh;
  /*border: 1px solid #0593B5;*/
  background: rgba(7,149,188,0.2);
  color: #00ECF1;
}
.main-content .table-body{
  margin-top: 5px;
}
.main-content .table-body .table-tr{
  border-bottom: 1px solid #0593B5;
  position: relative;
  color: #87FFFF;
  border-collapse:separate;
  border-spacing:10px;
}
.table-body .table-tr:hover{
  background:rgba(255,255,255,0.3);
  cursor: pointer;
}
.main-content .table-body .table-tr span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.main-content .table-body .table-tr>.hot{
  position: relative;
}
.main-content .table-body .table-tr>.hot>span{
  position: absolute;
  top: 3px;
  left: 24px;
  width: 10px;
  height: 10px;
  background: red;
  display: inline-block;
}

/******************************右边*******************************/
/*横向排名柱状图*/
.main-content .crosswise{
  height: 45vh;
  border:1px solid #3B425C;
  margin-bottom: 1vh;
  margin-left: -8px;
  position: relative;
  padding: 0 10px;
}
.main-content .crosswise .crosswise-btn{
  /* position: absolute;
   top: 36px;
   left: 30%;
   margin-left: -23px;*/
  height: 5vh;

}
.main-content .crosswise .crosswise-btn .btn{
  margin-right: 30px;
  /*background: linear-gradient(red,blue);*/
  box-shadow:2px 3px 10px #01D1DB ;
}
.main-content .crosswise .crosswise-bar{
  height: 46vh;
}

/*服务区基本信息*/
.main-content .crosswise .services-Info p{
  overflow: hidden;
  margin-bottom: 2vh;
}
.main-content .crosswise .services-Info{
  padding-top: 1vh;
}
.main-content .crosswise .crosswise-footer{}
/*实时收入数据监控*/
.main-content .income{
  height: 12.5vh;
  border:1px solid #3B425C;
  padding-left: 5px;
  margin-bottom: 1vh;
  margin-left: -8px;
}
.main-content .income>span{
  font-size: 1.5rem;
}
.main-content .income .income-amount>h3>span{
  display: inline-block;
  width: 30px;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  background: #01D1DB;
}
.main-content .income .income-amount>p{
  margin-top: 1vh;
  font-size: 1.5rem;
}
.main-content .income .income-amount>div{
  overflow: hidden;
  padding-right: 5px;
}

/*收入类型占比统计*/
.main-content .today-income {
  margin-bottom: 1vh;
  height: 24.5vh;
  border:1px solid #3B425C;
  margin-left: -8px;
}


/****************************弹窗部分****************************/
/*3D柱状图弹窗*/
.bg-box{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(149,161,154,0.6);
  z-index: 2;
}
.alert-3D-bar{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  background: rgba(10,10,72,0.9);
  z-index: 1;
  /*overflow: auto;*/
}
.alert-3D-bar-header{
  height: 5vh;
  line-height: 5vh;
  background: rgba(240,43,43,0.8);
}
.alert-3D-bar-header span{
  margin-left: 10px;
  font-size: 1.8rem;
}
.alert-3D-bar-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-3D-bar-header .pull-right:hover{
  background: red;
}
.toggle-btn-area{
  position: relative;
}
.bar3D-charts>.toggle-btn-area{
  position: absolute;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
}
.alert-3D-bar-bar{
  height: 55vh;
}
.alert-3D-bar-pie{
  height: 55vh;
}

/*收入类型监控弹窗样式、车辆类型监控弹窗样式*/
.alert-window{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  background: rgba(10,10,72,0.9);
  z-index: 1;
}
.alert-window-header{
  height: 5vh;
  line-height: 5vh;
  background: rgba(240,43,43,0.8);
}
.alert-window-header span{
  margin-left: 10px;
  font-size: 1.8rem;
}
.alert-window-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-window-header .pull-right:hover{
  background: red;
}
.alert-window-content{
  height: 75vh;
}
.alert-window-content-table{
  position: relative;
  height: 55vh;
}
.alert-window-content-table .toggle-btn{
  height: 5vh;
  line-height: 5vh;
}
.alert-window-content-table .toggle-btn>button{
  margin-right: 10px;
}
.alert-window-content-table .toggle-btn .toggle-btn-area{
  height: 5vh;
  line-height: 5vh;
  padding-right: 10px;
}
.alert-window-content-table .toggle-btn .toggle-btn-area>button{
  margin-left: 10px;
}
.alert-window-content-table .content-table{
  height: 50vh;
}
/*数据导出弹窗*/
.bg-excel{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(149,161,154,0.6);
}
.alert-window-excel{
  position: absolute;
  top: 50%;
  margin-top: -10vh;
  left: 50%;
  margin-left: -10vw;
  width: 20vw;
  height: 20vh;
  background: white;
}
.alert-window-excel-header{
  position: relative;
  height: 3vh;
  line-height: 3vh;
  background: #C42632;
  padding-left: 5px;
}
.alert-window-excel-header>.pull-right{
  height: 3vh;
  width: 3vh;
  text-align: center;
}
.alert-window-excel-header>.pull-right:hover{
  background:red;
}
.alert-window-excel-content{
  color: black;
  padding: 5px 5px;
}
.alert-window-excel-content-list {
  margin-bottom: 5px;
}
.alert-window-excel-content>input{
  color: black;
}
.alert-window-excel-footer{
  width: 100%;
  position: absolute;
  left:0;
  bottom: 5px;
}

/*服务区视频弹窗*/
.alert-window .video-time{
  color: white;
  height: 65vh;
  border:1px solid #3B425C;
  margin-right: -20px;
  padding: 10px 10px;
}
.alert-window .video-time .btn{
  margin-top: 1vh;
}
.alert-window .video-play{
  height: 55vh;
  border:1px solid #3B425C;
}
.alert-window .video-event{
  height: 10vh;
  border:1px solid #3B425C;
  padding-top: 5vh;
}
.video-time-input{
  width: 100%;
  color: #000;
}
.video-time .btn {
  padding: 0;
}

/*服务区平面图弹窗*/
.services-plan-left{
  width: 20%;
  height: 75vh;
  position: absolute;
  top: 0;
  left: 1vw;
  z-index: 9999;
}
.services-plan{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 75vh;
  /*background-image: url(http://120.78.138.104/images/gaotou/%E6%9C%8D%E5%8A%A1%E5%8C%BA%E9%B8%9F%E7%9E%B0%E5%9B%BE.jpg);*/
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
.services-plan-right{
  width: 20%;
  height: 75vh;
  position: absolute;
  top: 0;
  right: 1vw;
  z-index: 9999;
}
.service-date-info-top>h5,.service-date-info-bottom>h5{}
.service-date-info-top{
  position: relative;
  height: 22vh;
  background: rgba(5,46,74,0.4);
  margin-top: 2.2vh;
  border-top: 1px solid #69FFFF;
  box-shadow: 0 0 20px #69FFFF;
}
.service-date-info-bottom{
  position: relative;
  height: 22vh;
  background: rgba(5,46,74,0.4);
  margin-top: 2.2vh;
  border-top: 1px solid #69FFFF;
  box-shadow: 0 0 20px #69FFFF;
}
.service-date-info-top::before{
  content:"";
  position:absolute;
  right: -17px;
  top: 6px;
  width:20px;
  height: 1px;
  box-sizing:border-box;
  border-bottom:1px solid #69FFFF;
  transform-origin:bottom center;
  /*transform:rotateZ(45deg) scale(1.414);*/
  /*animation:slash 5s infinite ease;*/
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}
.service-date-info-bottom::before{
  content:"";
  position:absolute;
  left: -17px;
  top: 6px;
  width:20px;
  height: 1px;
  box-sizing:border-box;
  border-bottom:1px solid #69FFFF;
  transform-origin:bottom center;
  /*transform:rotateZ(45deg) scale(1.414);*/
  /*animation:slash 5s infinite ease;*/
  transform:rotate(135deg);
  -o-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
}
@keyframes slash{
  0%{
    transform:rotateZ(0deg) scale(1);
  }
  30%{
    transform:rotateZ(45deg) scale(1);
  }
  60%{
    transform:rotateZ(45deg) scale(1.414);
  }
  100%{
    transform:rotateZ(45deg) scale(1.414);
  }
}

/*字体颜色*/
.text-c1{
  color: #33F3B1;
}
.text-c2{
  color: #FF37AC;
}
.text-c3{
  color: #87FFFF;
}

/*bootstrap改造*/
.bottom-pagination {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
}
.list-group>a{
  color: #87FFFF;
}
.pagination > li > a {
  background-color: #86FDFE;
  margin-right: 1vw;
  font-size: 1.5rem;
  color: #333333;
  cursor: pointer;
}
.pagination > li > a:hover{
  background-color: #31B0D5;
  border: 1px solid #31B0D5;
}
.pagination > li > a > input{
  width: 5vw;
}
.form-horizontal{
  margin-top: 15px;
}
.form-horizontal .form-control{
  background: rgba(255,255,255,0.11);
  border: none;
  color: white;
}

/*hover伪类*/
.hovers:hover{
  cursor: pointer;
}
@media (max-width: 993px) {
  .event-else-table{
    margin-bottom: 2.5vh;
  }
  .main-content .income.mobile{
    display: block;
    min-height: 16vh;
    margin-left: -15px;
    margin-right: -15px;
  }
  .main-content .income{
    display: none;
  }
  .main-header{
    margin-left: -15px;
    margin-right: -15px;
  }
  .main-content .event-table .event-untreated-table{
    padding-right: 0;
    padding-left: 0;
  }
  .main-content .event-table .event-processed-table{
    padding-right: 0;
    padding-left: 0;
  }
  .main-content .accumulation3d, .main-content .accumulation,.main-content .crosswise,.main-content .today-income{
    display: none;
  }
  .main-content .vehicle{
    min-height: 16vh;
    margin-left: -15px;
    margin-right: -15px;
  }
  .main-content .event-table{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 1vh;
  }
  .main-content .servicesMap{
    display: none;
  }
}

