<div class="bg-box" *ngIf="alertShow" [ngStyle]="{'color': config.titleColor}">
  <div class="alert-window" [ngStyle]="{'background': config.background}">
    <div class="alert-window-header" [ngStyle]="{'background':config.background}">
      <div class="row">
        <div class="col-ld-12 col-md-12">
          <span>{{alertTitle}}</span>
          <div class="pull-right" (click)="closeAlertShow()">
            <i class="fa fa-window-close " aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="alert-window-content"></div>
  </div>
</div>
