<!--顶部-->
<div class="header">
  <div class="row">
    <div class="header-logo">
      <span>贵州高投服务管理有限公司</span><span>交通大数据</span>
    </div>
    <div class="header-title text-center">
      <span>贵州久长高速服务区</span>
    </div>
    <div class="header-admin">
      <img src="assets/images/timg.jpg" alt="" class="header-admin-img img-circle">
      <div class="header-admin-time text-center">
        <span>北京时间 <span style="margin-left: 0.2vw">{{dataTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></span>
      </div>
      <div class="header-admin-flow text-center">
        <span>今日客流量：</span>
        <div class="text-center">
          <span *ngFor="let item of persons">{{item.number}}</span>
        </div>
        <span>人/次</span>
      </div>
    </div>
  </div>
</div>
