/******************************头部****************************/
.header{
  height: 10vh;
  overflow: hidden;
}
.header>.row>div{
  display: inline-block;
  vertical-align:text-top;
}
.header-logo{
  width: 26.3vw;
  height: 8vh;
  margin-left: 1vw;
  line-height: 8vh;
  padding-left: 1vw;
  font-size: 0.5rem;
  font-weight: bolder;
  letter-spacing: 0.2vw;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-image: url(/assets/images/logobg.png);
}
.header-title{
  width: 47.4vw;
  height: 8vh;
}
.header-title span{
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.15vw;
}
.header-admin{
  width: 21vw;
  height: 10vh;
}
.header-admin-time{
  width: 21vw;
  height: 5vh;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-image: url(/assets/images/adminbg.png);
}
.header-logo>span:nth-child(2) {
  color: #5096DF;
}
