<!--顶部-->
<div class="header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="line-height: 6vh">
      <div class="header-title pull-left" [routerLink]="['./whole']">
        <div class="header-title-h4">
          <span>贵州高投服务区管理有限公司交通大数据</span>
        </div>
        <div class="header-box">
          <span class="header-box-box1"></span>
          <span class="header-box-box2"></span>
        </div>
      </div>
      <div class="header-manner pull-right">
        <div class="header-clock pull-left">
          <span style="color:#87FFFF;">北京时间</span>
          <span style="color:#87FFFF;">2018年6月1号</span>
          <span style="color:#87FFFF;">周六</span>
          <span style="color:#87FFFF;">14:01</span>
        </div>
        <i class="fa fa-bar-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="液态大数据" [routerLink]="['/finance']" style="color: orangered"></i>
        <i class="fa fa-server " aria-hidden="true" data-toggle="tooltip" data-placement="right" title="视频管理" [routerLink]="['/video/videom']"></i>
        <i class="fa fa-video-camera" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="视频监控" [routerLink]="['/video']"></i>
        <i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="个人信息" [routerLink]="['/personal']"></i>
        <i class="fa fa-sign-out" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="退出系统" [routerLink]="['/login']"></i>
      </div>
    </div>
  </div>
</div>
