<!--大数据可视化-->
<div class="main">
  <!--弹窗-->
  <div class="alert-box" [hidden]="alertMapBoxShow">
    <div class="alert-box-header">
      <span>{{alertMapTitle}}</span>
      <div class="pull-right" (click)="destoryChild1()">
        <i class="fa fa-window-close " aria-hidden="true"></i>
      </div>
    </div>
    <div class="alert-box-content">
      <div #alertBox></div>
    </div>
  </div>
  <div class="alert-box" [hidden]="alertDateBoxShow">
    <div class="alert-box-header">
      <span>{{alertDateTitle}}</span>
      <div class="pull-right" (click)="destoryChild2()">
        <i class="fa fa-window-close " aria-hidden="true"></i>
      </div>
    </div>
    <div class="alert-box-content">
      <div #alertDate></div>
    </div>
  </div>
  <div class="bg-box" *ngIf="alertBarShow">
    <div class="alert-3D-bar">
      <div class="alert-3D-bar-header">
        <span>{{alertBarTitle}}</span>
        <div class="pull-right" (click)="closeBarShow()">
          <i class="fa fa-window-close " aria-hidden="true"></i>
        </div>
      </div>
      <div class="alert-3D-bar-chart" echarts [options]="optionsLateral"></div>
    </div>
  </div>

  <!--上部分-->
  <div class="main-top">
    <div class="row">
      <!--3d柱状图-->
      <div class="col-lg-4 col-md-4 col-sm-4 main-left " >
        <div class="accumulation3d" echarts [options]="options3d" (chartInit)="onChartInit($event)" (chartClick)="barClick($event)"></div>
      </div>
      <!--离散地图分布图-->
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="tab-map">
          <div class="location">
            <span>当前的位置是：</span>
            <span>{{selectDate}}</span>
          </div>
          <div class="select" (click)="provinceClick()">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            <span>选择地图...</span>
          </div>
          <div class="province-city">
            <ul class="select-list-province" *ngIf="provinceShow">
              <li *ngFor="let item of province"
                  (mouseenter)="provinceMouseEnter()"
                  (mouseleave)="provinceMouseLeave()"
                  (click)="provinceDataClick(item)"
              >
                {{item.province}}
              </li>
            </ul>
            <ul class="select-list-city" *ngIf="cityShow">
              <li *ngFor="let item of city"
                  (click)="cityDataClick(item)"
              >
                {{item.city}}
              </li>
            </ul>
          </div>
        </div>
        <div class="top-map" id="center_map"></div>
      </div>
    </div>
  </div>
  <!--下部分-->
  <div class="main-bottom">
    <div class="row">
      <!--服务区当日驻车量排名-->
      <div class="col-lg-3 col-md-3 col-sm-3 " >
        <div class="accumulation" echarts [options]="optionsRetention" (chartClick)="parkClick($event)"></div>
      </div>
      <!--事件监控列表-->
      <div class="col-lg-3 col-md-3 col-sm-3" >
        <p-scrollPanel  [style]="{
         paddingTop: '1px',
         height: '36vh',
         border:'1px solid #3B425C',
         marginLeft: '-8px',
         marginRight: '-8px',
         fontSize: '12px',
         cursor: 'pointer'
        }" styleClass="custom" (click)="eventClick()">
          <div class="table-title text-center">
            <span>服务区事件监控</span>
          </div>
          <div class="table-responsive">
            <table class="table" cellspacing="5px">
              <thead class="table-header">
              <tr>
                <td>级别</td>
                <td>时间</td>
                <td>事件类型</td>
                <td>事件描述</td>
              </tr>
              </thead>
              <tbody class="table-body">
              <tr class="table-tr" style="color: #BB32F4">
                <td><span style="background: #BB32F4;"></span></td>
                <td>1分钟之前</td>
                <td>缺水</td>
                <td>一号水库水位低</td>
              </tr>
              <tr></tr>
              <tr class="table-tr" style="color: #F432AD">
                <td><span style="background: #F432AD;"></span></td>
                <td>3分钟之前</td>
                <td>卫生</td>
                <td>东停车场卫生出问题</td>
              </tr>
              <tr class="table-tr" style="color: #E57D0D">
                <td><span style="background: #E57D0D;"></span></td>
                <td>5分钟之前</td>
                <td>缺电</td>
                <td>2楼电路故障</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>15分钟之前</td>
                <td>机器故障</td>
                <td>西面出口摄像头故障</td>
              </tr>
              <tr class="table-tr" style="color: #3BF49F">
                <td><span style="background: #3BF49F;"></span></td>
                <td>30分钟之前</td>
                <td>系统故障</td>
                <td>系统流量过大</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>40分钟之前</td>
                <td>事故</td>
                <td>出口位置轿车互挂</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>1小时之前</td>
                <td>提醒类</td>
                <td>系统收入计算中....</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>1小时之前</td>
                <td>提醒类</td>
                <td>系统收入计算中....</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>1小时之前</td>
                <td>提醒类</td>
                <td>系统收入计算中....</td>
              </tr>
              </tbody>
            </table>
          </div>
        </p-scrollPanel>
       <!-- <div class="event-table">
          <div class="table-title text-center">
            <span>服务区事件监控</span>
          </div>
          <div class="table-responsive">
            <table class="table" cellspacing="5px">
              <thead class="table-header">
              <tr>
                <td>级别</td>
                <td>时间</td>
                <td>事件类型</td>
                <td>事件描述</td>
              </tr>
              </thead>
              <tbody class="table-body">
              <tr class="table-tr" style="color: #BB32F4">
                <td><span style="background: #BB32F4;"></span></td>
                <td>1分钟之前</td>
                <td>缺水</td>
                <td>一号水库水位低</td>
              </tr>
              <tr></tr>
              <tr class="table-tr" style="color: #F432AD">
                <td><span style="background: #F432AD;"></span></td>
                <td>3分钟之前</td>
                <td>卫生</td>
                <td>东停车场卫生出问题</td>
              </tr>
              <tr class="table-tr" style="color: #E57D0D">
                <td><span style="background: #E57D0D;"></span></td>
                <td>5分钟之前</td>
                <td>缺电</td>
                <td>2楼电路故障</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>15分钟之前</td>
                <td>机器故障</td>
                <td>西面出口摄像头故障</td>
              </tr>
              <tr class="table-tr" style="color: #3BF49F">
                <td><span style="background: #3BF49F;"></span></td>
                <td>30分钟之前</td>
                <td>系统故障</td>
                <td>系统流量过大</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>40分钟之前</td>
                <td>事故</td>
                <td>出口位置轿车互挂</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>1小时之前</td>
                <td>提醒类</td>
                <td>系统收入计算中....</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>1小时之前</td>
                <td>提醒类</td>
                <td>系统收入计算中....</td>
              </tr>
              <tr class="table-tr" style="color: #1ED1D8">
                <td><span style="background: #1ED1D8;"></span></td>
                <td>1小时之前</td>
                <td>提醒类</td>
                <td>系统收入计算中....</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>-->
      </div>
      <!--实时车流收入数据监控-->
      <div class="col-lg-3 col-md-3 col-sm-3" >
        <div class="number">
          <div class="vehicle">
            <span>2018-05-24 09:33:35 今日车辆流动数量</span>
            <div class="vehicle-amount">
              <h3>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>7</span>
                <span>8</span>
                <small style="font-size: 14px;color: white;">辆</small>
              </h3>
              <p>
                <span style="margin-right: 10px">前日时间同比</span>
                <i class="fa fa-long-arrow-up"></i>
                <span class="">3.2%</span>
              </p>
            </div>
          </div>
          <div class="income">
            <span>2018-05-24 09:33:35 高速服务区实时收入</span>
            <div class="income-amount">
              <h3>
                <span>0</span>
                <span>0</span>
                <span>8</span>
                <span>1</span>
                <span>7</span>
                <span>8</span>
                <small style="font-size: 14px;color: white;">元</small>
              </h3>
              <p>
                <span style="margin-right: 10px">前日时间同比</span>
                <i class="fa fa-long-arrow-up" style="color: #03D095"></i>
                <span class="">15%</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--服务区当日收入排名-->
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="today-income" echarts [options]="optionsIncome" (chartClick)="incomeClick($event)"></div>
      </div>
    </div>
  </div>
</div>

