<div class="container-fluid">
  <!--顶部-->
  <div class="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="line-height: 6vh">
        <div class="header-title pull-left">
          <div class="header-title-h4">
            <span>贵州高投服务管理有限公司交通大数据</span>
          </div>
          <div class="header-box">
            <span class="header-box-box1"></span>
            <span class="header-box-box2"></span>
          </div>
            <span class="header-per-title">今日客流量：</span>
            <span class="header-person" *ngFor="let item of persons" [ngStyle]="{'background':item.colors}">
            {{item.number}}
          </span>
            <span class="header-per-unit">人 / 次</span>
        </div>
        <div class="header-manner pull-right">
          <div class="header-clock pull-left">
            <span>北京时间<span style="margin-left: 10px">{{dataTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></span>
          </div>
          <img src="assets/images/timg.jpg" class="img-circle" alt="头像" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="个人信息" [routerLink]="['./personal']">
          <i class="fa fa-sign-out" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="退出系统" [routerLink]="['/login']"></i>
        </div>
      </div>
    </div>
  </div>
  <!--左侧导航-->
  <app-nav></app-nav>
  <!--主内容-->
  <div class="main" [ngStyle]="{'margin-left': navShow?'215px':''}">
    <div class="row">
      <div class="col-xs-12 service-search" >
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-9">
              <input type="text" class="form-control" id="serviceZone" name="serviceZone" placeholder="请输入服务区">
            </div>
            <div class="col-xs-3 text-center">
              <button class="btn btn-primary">搜索</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
